---
import { getRelativeLocaleUrl } from "astro:i18n";
import { type CollectionEntry } from "astro:content";

// components
import Category from "@components/Category/Category.astro";

// utils
import { formatDate } from "@js/textUtils";
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
  post: CollectionEntry<"blog">;
  showDescription?: boolean;
  class?: string;
  rest?: any;
}

const {
  post,
  showDescription = false,
  class: className,
  ...rest
} = Astro.props as Props;
const { title, description, categories, pubDate, heroImage } = post.data;

const currLocale = getLocaleFromUrl(Astro.url);
---

<article class:list={["blog-card group", className]} {...rest}>
  <a
    href={getRelativeLocaleUrl(currLocale, `/blog/${post.slug}/`)}
    class="block aspect-video overflow-hidden rounded-t-xl"
  >
    <img
      src={heroImage}
      alt={`Cover for ${title}`}
      width="640"
      height="360"
      class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
      loading="lazy"
    />
  </a>
  <div class="p-5">
    <!-- categories -->
    <div class="flex flex-wrap gap-2">
      {categories.map((category) => <Category category={category} />)}
    </div>

    <!-- title -->
    <h2 class="blog-card-title mt-3">
      <a href={getRelativeLocaleUrl(currLocale, `/blog/${post.slug}/`)}>
        {title}
      </a>
    </h2>

    <!-- description -->
    {
      showDescription && (
        <p class="mt-2 line-clamp-2 text-sm text-base-400 md:text-base">
          {description}
        </p>
      )
    }

    <!-- published date -->
    <p class="mt-4 text-xs font-medium uppercase tracking-wider text-base-500">
      {formatDate(pubDate, currLocale)}
    </p>
  </div>
</article>

<style>
  /* EXACT copy of Amplify hover-border-glow effect */
  .blog-card {
    @apply rounded-xl border border-base-800 bg-base-950;
    position: relative;
    transition: all 300ms;
  }

  .blog-card::before {
    content: '';
    position: absolute;
    inset: 0.125rem;
    z-index: -10;
    border-radius: 0.75rem;
    background-color: #3b82f6;
    opacity: 0;
    filter: blur(8px);
    transition: all 300ms;
  }

  .blog-card:hover {
    border-color: #7dd3fc;
  }

  .blog-card:hover::before {
    opacity: 1;
  }

  .blog-card-title {
    @apply text-base font-medium leading-snug md:text-lg;
    @apply text-base-100 transition-colors duration-300;
  }

  .blog-card:hover .blog-card-title {
    @apply text-primary-400;
  }
</style>
